{% extends 'layout.twig' %}

{% block head %}<title>Changer mot de passe</title>{% endblock %}


{% block content %}

<div class="col-12">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h3 class="card-title text-center mb-5">Changer mon mot de passe</h3>
      <form method="post" action='index.php' class="mt-5 mb-5 col-lg-5 formLogin text-center m-auto">
        <fieldset class='text-center'>
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" name="password" class="form-control col-lg-12 " required>
                    <label for="passwordConfirm">Confirmez votre nouveau mot de passe</label>
                        <input type="password" name="passwordConfirm" class="form-control col-lg-12" required>
                    <input type="hidden" name='action' value='confirmPassword'>
                    <input type="hidden" name='controller' value='user'>
                    <input type="submit" value='Confirmer' class="mt-3 btn btn-primary">
          </fieldset>
      </form>
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
  </div>
</div>

{% endblock %}