{% extends 'layout.twig' %}

{% block head %}<title>Erreur</title>{% endblock %}

{% block content %}

<p>{{msgError}}</p>
<a href=href="javascript: history.go(-1)" class='btn'>retourner à la page précédente</a>

{% endblock %}