{% extends 'layout.twig' %}

{% block head %}<title>Erreur</title>{% endblock %}

{% block content %}

<p>{{msgError}}</p>

<a href='index.php' class='btn'>retourner à la page d'accueil</a>


{% endblock %}