{% extends 'layout.twig' %}

{% block head %}<title>Accueil</title>{% endblock %}

{% block content %}
    <h1>Derniers Films</h1>
    {% for movie in movies %}
        <div class=movies id={{movie.idDb}}>
            <h2>{{movie.title}}</h2>
            <p >{{movie.id}}</p>
            <p>{{movie.idDb}}</p>
        </div>
    {% endfor %}
{% endblock %}