<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% block head %}{% endblock %}
  <base href="/projet5/">

</head>
<body>

{% block content%}{% endblock %}



  <script src="public/js/ajax.js"></script>
  <script src="public/js/request.js"></script>
  <script src="public/js/home.js"></script>
  <script src="public/js/main.js"></script>
</body>

</html>