<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="style.css">
  <script src="public/js/ajax.js"></script>
  <script src="public/js/home.js"></script>
  <script src="public/js/main.js"></script>
</head>
<body>

{% block content%}{% endblock %}

</body>
</html>