{% extends 'layout.twig' %}

{% block head %}<title>Signaler un avis</title>{% endblock %}

{% block content %}

<h1>Merci pour votre signalement</h1>
<p>Il sera examiné dans les plus brefs délais</p>
<a href='Movie/MovieDetails/{{idMovie}}' class='btn btn-primary'>Retour à la page du film</a>


{% endblock %}