{% extends 'layout.twig' %}

{% block head %}<title>résultats de la recherche</title>{% endblock %}

{% block content %}
    <h1 id="pageTitle">Résultats de la recherche pour "<span id="searchTitle">{{keyword}}</span>"</h1>
    <div class="col-12" id="orderBy">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="orderBy">Trier Par :</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" id="OrderByDate">Le Plus récent</a>
          <a class="dropdown-item" href="#" id="OrderByLastReview">Derniers avis</a>
          <a class="dropdown-item" href="#" id="OrderByPopularity">Populaire</a>
        </div>
      </div>
    </div>
    <div class="row">
        <a href="" id="movie0" class="col-lg-3"><div><img id="poster0" src=""><p id="title0"></p></div></a>    
        <a href=""id="movie1" class="col-lg-3" ><div><img id="poster1" src=""><p id="title1"></p></div></a>
        <a href="" id="movie2" class="col-lg-3" ><div><img id="poster2" src=""><p id="title2"></p></div></a>
        <a href="" id="movie3" class="col-lg-3" ><div><img id="poster3" src=""><p id="title3"></p></div></a>
        <a href="" id="movie4" class="col-lg-3"><div><img id="poster4" src=""><p id="title4"></p></div></a>
        <a href="" id="movie5" class="col-lg-3"><div><img id="poster5" src=""><p id="title5"></p></div></a>
        <a href="" id="movie6" class="col-lg-3"><div><img id="poster6" src=""><p id="title6"></p></div></a>
        <a href="" id="movie7" class="col-lg-3"><div><img id="poster7" src=""><p id="title7"></p></div></a>
        <a href="" id="movie8" class="col-lg-3"><div><img id="poster8" src=""><p id="title8"></p></div></a>
        <a href="" id="movie9" class="col-lg-3"><div><img id="poster9" src=""><p id="title9"></p></div></a>
        <a href="" id="movie10" class="col-lg-3"><div><img id="poster10" src=""><p id="title10"></p></div></a>
        <a href="" id="movie11" class="col-lg-3"><div><img id="poster11" src=""><p id="title11"></p></div></a>
        <a href="" id="movie12" class="col-lg-3"><div><img id="poster12" src=""><p id="title12"></p></div></a>
        <a href="" id="movie13" class="col-lg-3"><div><img id="poster13" src=""><p id="title13"></p></div></a>
        <a href="" id="movie14" class="col-lg-3"><div><img id="poster14" src=""><p id="title14"></p></div></a>
        <a href="" id="movie15" class="col-lg-3"><div><img id="poster15" src=""><p id="title15"></p></div></a>
        <a href="" id="movie16" class="col-lg-3"><div><img id="poster16" src=""><p id="title16"></p></div></a>
        <a href="" id="movie17" class="col-lg-3"><div><img id="poster17" src=""><p id="title17"></p></div></a>
        <a href="" id="movie18" class="col-lg-3"><div><img id="poster18" src=""><p id="title18"></p></div></a>
        <a href="" id="movie19" class="col-lg-3"><div><img id="poster19" src=""><p id="title19"></p></div></a>
        <a href="" id="movie20" class="col-lg-3"><div><img id="poster20" src=""><p id="title20"></p></div></a>
        <div class="col-12">
          <a class="btn btn-lg btn-primary" id="prvPage" href="#">Précédent</a>
          <a class="btn btn-lg btn-primary" disabled id="pageIndex">{{page}}</a>
          <a class="btn btn-lg btn-primary" id="nxtPage" href="Movie/Search/{{page + 1}}/{{keyword}}">Suivant</a>
        </div>
    </div>
  <script src="public/js/searchMain.js"></script>
  
{% endblock %}