<div class="row">
    <a href="" id="movie0" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster0" src=""></div><p id="title0"></p></div></a>    
    <a href=""id="movie1" class="col-lg-3 col-sm-6 text-center" ><div id="thumbnail"><div class='poster'><img id="poster1" src=""></div><p id="title1"></p></div></a>
    <a href="" id="movie2" class="col-lg-3 col-sm-6 text-center" ><div id="thumbnail"><div class='poster'><img id="poster2" src=""></div><p id="title2"></p></div></a>
    <a href="" id="movie3" class="col-lg-3 col-sm-6 text-center" ><div id="thumbnail"><div class='poster'><img id="poster3" src=""></div><p id="title3"></p></div></a>
    <a href="" id="movie4" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster4" src=""></div><p id="title4"></p></div></a>
    <a href="" id="movie5" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster5" src=""></div><p id="title5"></p></div></a>
    <a href="" id="movie6" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster6" src=""></div><p id="title6"></p></div></a>
    <a href="" id="movie7" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster7" src=""></div><p id="title7"></p></div></a>
    <a href="" id="movie8" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster8" src=""></div><p id="title8"></p></div></a>
    <a href="" id="movie9" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster9" src=""></div><p id="title9"></p></div></a>
    <a href="" id="movie10" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster10" src=""></div><p id="title10"></p></div></a>
    <a href="" id="movie11" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster11" src=""></div><p id="title11"></p></div></a>
    <a href="" id="movie12" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster12" src=""></div><p id="title12"></p></div></a>
    <a href="" id="movie13" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster13" src=""></div><p id="title13"></p></div></a>
    <a href="" id="movie14" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster14" src=""></div><p id="title14"></p></div></a>
    <a href="" id="movie15" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster15" src=""></div><p id="title15"></p></div></a>
    <a href="" id="movie16" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster16" src=""></div><p id="title16"></p></div></a>
    <a href="" id="movie17" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster17" src=""></div><p id="title17"></p></div></a>
    <a href="" id="movie18" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster18" src=""></div><p id="title18"></p></div></a>
    <a href="" id="movie19" class="col-lg-3 col-sm-6 text-center"><div id="thumbnail"><div class='poster'><img id="poster19" src=""></div><p id="title19"></p></div></a>
</div>