{% extends 'layout.twig' %}

{% block head %}<title>Mon compte</title>{% endblock %}

{% block content %}
<a href='User/myReviews' class="btn btn-primary">Mes avis</a>
<a href='User/createReview' class="btn btn-primary">Nouvel avis</a>
{% endblock %}